<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Kryslin Rass, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Kryslin Rass</h1>
	<p>See veebileht on valminud <a href="https://www.tlu.ee" target="_blank">TLÜ</a> Digitehnoloogiate instituudi informaatika eriala õppetöö raames.</p>
	<p>Olen tore ja tark!</p>
	<hr>
	<ul>
		<li><a href="/timenow">Aeg praegu</a> </li>
		<li><a href="/wisdom">Vanasõnad</a> </li>
		<li><a href="/namelist">Nimed</a> </li>
		<!--<li><a href="/eestifilm">Eesti film</a> </li>-->
		<li><a href="/news">Uudised</a> </li>
		<li><a href="/photoupload">Fotode galeriisse laadimine</a> </li>
		<li><a href="/photogallery">Fotogalerii</a> </li>
	</ul>
	<hr>
</body>
</html>