<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Kryslin Rass, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Kryslin Rass</h1>
	<p>See veebileht on valminud <a href="https://www.tlu.ee" target="_blank">TLÜ</a> Digitehnoloogiate instituudi informaatika eriala õppetöö raames.</p>
	<p>Olen tore ja tark!</p>
	<hr>
	<ul>
		<li><a href="/timenow">Aeg praegu</a> </li>
		<li><a href="/wisdom">Vanasõnad</a> </li>
		<li><a href="/namelist">Nimed</a> </li>
		<li><a href="/eestifilm">Eesti film</a> </li>
		<li><a href="/news">Uudised</a> </li>
		<li><a href="/photoupload">Fotode galeriisse laadimine</a> (ainult sisse loginud kasutatajatele!)</li>
		<li><a href="/photogallery">Fotogalerii</a> </li>
	</ul>
	<hr>
	<h2>Kasutajakonto</h2>

	<form method="POST">
		<label for="emailInput">E-mail (kasutajatunnus)</label>
		<input type="email" name="emailInput" id="emailInput">
		<label for="passwordInput">Parool</label>
		<input type="password" name="passwordInput" id="passwordInput">
		<input type="submit" name="loginSubmit" value="Logi sisse">
		<span> <%= locals.notice %></span>
	</form>
	<p>Logi <a href="/logout"> välja</a>!</p>
	<p>Või loo endale <a href="/signup">kasutajakonto</a></p>
	<hr>
</body>
</html>