<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Kryslin Rass, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1><%= h1 %></h1>
	<ul>
		<% namelist.forEach(function(sentence){ %>
			<li><%= sentence %></li>
		<% }); %>
	</ul>
	<hr>
	<ul>
		<li><a href="/">Avalehele</a> </li>
	</ul>
	<hr>
</body>
</html>