<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Kryslin Rass, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Lisa uudis</h1>
	<ul>
		<li><a href="/news">Uudiste avaleht</a> </li>
		<li><a href="/">Avalehele</a> </li>
	</ul>
	<hr>
	<h2>Viimased uudised</h2>

	<% readnews.forEach(function(news){ 5>
		<li><a href="/news/read/<% news.id %>"><%= news.title %></a></li>
	<%> }); %>
</body>
</html>